body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainCanvas{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  margin-bottom: 50px;
  margin-top: 50px;
}

table{
  border-spacing: 0;
  font-family: RalewayMedium;
}


.tableWrapper{
  height: 310px;
  overflow: auto;
  margin-bottom: 100px;
}

thead tr th {
  position: sticky;
  top: 0;
}


th{
  background-color: #FC5B5B;
  color: white;
  padding: 10px;
}

th:first-of-type{
  border-top-left-radius: 10px;
}

th:last-of-type{
  border-top-right-radius: 10px;
}


tr:nth-child(even) {
  background-color: #fafafa;
}

tr:hover{
  background-color: #f1f1f1;
}

tr, td, th{
  padding: 10px;
  margin: auto;
}

td{
  color: #575A5E;
}

i{
  color: #A0A3A7;
}



@font-face {
  font-family: "RalewayMedium";
  src: local("RalewayMedium"),
  url("./fonts/Raleway-Medium.ttf") format("truetype");
}